{% extends "layouts/main.html" %}

<!-- prettier-ignore -->
{% block content %}
<main class="container pt-10 pb-8 py-md-16">
  <div class="row justify-content-center mb-12 mb-md-16">
    <div class="col-12 col-md-10 col-lg-7">
      <h1 class="display-5 mb-6">10 Secret Tips for Managing a Remote Team</h1>
      <div class="hstack gap-4">
        <a href="#">
          <img src="@img/avatar/avatar-male-1.webp" alt="Avatar" height="32" width="32" />
        </a>
        <a href="#" class="h6 text-body-secondary text-decoration-none fw-black mb-0">Albert Flores</a>
        <div class="vr my-1"></div>
        <span class="text-body-tertiary fw-bold">12 January 2023</span>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-12 mb-md-16 -mx-8 -mx-md-4">
    <div class="col-12 col-lg-9 px-0 px-md-4">
      <img src="@img/post/1.webp" alt="10 Secret Tips for Managing a Remote Team" class="img-fluid" />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-7">
      <div class="text-body-secondary fs-5 mb-12 mb-md-16">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla.</p>
        <p>mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu.</p>
        <p>Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum.</p>
        <p>vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.</p>
        <p>
          Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor
          ornare leo, non suscipit magna interdum eu.
        </p>
        <p>Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales.</p>
        <p>
          Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa
          mi. Aliquam in hendrerit urna.
        </p>
        <p>Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</p>
        <p>
          Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque
          sagittis orci ut diam condimentum, vel euismod erat placerat.
        </p>
        <p>In iaculis arcu eros, eget tempus orci facilisis id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.</p>
        <p>Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue.</p>
      </div>
      <div class="border-bottom pb-12 pb-md-16 mb-12 mb-md-16">
        <h6 class="text-uppercase text-body-tertiary fw-black mb-6">Written By</h6>
        <div class="d-flex gap-4">
          <a href="#">
            <img src="@img/avatar/avatar-male-1-md.webp" alt="Avatar" height="72" width="72" class="rounded-circle" />
          </a>
          <div>
            <a href="#" class="h4 text-decoration-none mb-1">Albert Flores</a>
            <p class="text-body-tertiary mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ducimus ab tempore expedita sapiente.</p>
          </div>
        </div>
      </div>
      <div class="mb-8">
        <h5 class="mb-8">Responses (8)</h5>
        <div class="d-flex gap-4">
          <img src="@img/logo-team-icon-only.webp" alt="Team." height="36" width="36" class="rounded-circle" />
          <textarea class="form-control bg-light border-0" id="comment" rows="4" placeholder="What are your thoughts?"></textarea>
        </div>
      </div>
      <div>
        <div class="comment">
          <div class="mb-8">
            <div class="d-flex align-items-center gap-4">
              <a href="#">
                <img src="@img/avatar/avatar-male-2.webp" alt="Wade Warren" height="36" width="36" class="rounded-circle" />
              </a>
              <div>
                <div class="h6 mb-0">Wade Warren</div>
                <div class="text-body-tertiary">6 days ago</div>
              </div>
              <div class="dropdown ms-auto mb-auto">
                <button type="button" data-bs-toggle="dropdown" class="btn btn-link btn-sm text-body-secondary text-decoration-none d-flex p-0">
                  <span class="material-symbols-rounded fs-5">more_horiz</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Menu item 1</a></li>
                  <li><a class="dropdown-item" href="#">Menu item 2</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Menu item 3</a></li>
                </ul>
              </div>
            </div>
            <div class="comment-body">
              <div class="text-body-secondary mt-2 mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla.
              </div>
              <div class="d-flex gap-4">
                <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                  <span class="material-symbols-rounded icon-outline fs-5">favorite</span>
                  <span>Like</span>
                </button>
                <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                  <span class="material-symbols-rounded icon-outline fs-5">reply</span>
                  <span>Reply</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="mb-8">
            <div class="d-flex align-items-center gap-4">
              <a href="#">
                <img src="@img/avatar/avatar-male-3.webp" alt="Ralph Edwards" height="36" width="36" class="rounded-circle" />
              </a>
              <div>
                <div class="h6 mb-0">Ralph Edwards</div>
                <div class="text-body-tertiary">6 days ago</div>
              </div>
              <div class="dropdown ms-auto mb-auto">
                <button type="button" data-bs-toggle="dropdown" class="btn btn-link btn-sm text-body-secondary text-decoration-none d-flex p-0">
                  <span class="material-symbols-rounded fs-5">more_horiz</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Menu item 1</a></li>
                  <li><a class="dropdown-item" href="#">Menu item 2</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Menu item 3</a></li>
                </ul>
              </div>
            </div>
            <div class="comment-body">
              <div class="text-body-secondary mt-2 mb-4">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
              </div>
              <div class="d-flex gap-4">
                <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                  <span class="material-symbols-rounded icon-outline fs-5">favorite</span>
                  <span>Like</span>
                </button>
                <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                  <span class="material-symbols-rounded icon-outline fs-5">reply</span>
                  <span>Reply</span>
                </button>
              </div>
            </div>
          </div>
          <div class="comment">
            <div class="mb-8">
              <div class="d-flex align-items-center gap-4">
                <a href="#">
                  <img src="@img/avatar/avatar-female-1.webp" alt="Jane Cooper" height="36" width="36" class="rounded-circle" />
                </a>
                <div>
                  <div class="h6 mb-0">Jane Cooper</div>
                  <div class="text-body-tertiary">6 days ago</div>
                </div>
                <div class="dropdown ms-auto mb-auto">
                  <button type="button" data-bs-toggle="dropdown" class="btn btn-link btn-sm text-body-secondary text-decoration-none d-flex p-0">
                    <span class="material-symbols-rounded fs-5">more_horiz</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Menu item 1</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 2</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#">Menu item 3</a></li>
                  </ul>
                </div>
              </div>
              <div class="comment-body">
                <div class="text-body-secondary mt-2 mb-4">
                  Duis urna dictum morbi imperdiet nibh imperdiet feugiat. Aenean accumsan adipiscing et fringilla molestie. Proin vitae consectetur maecenas non auctor.
                </div>
                <div class="d-flex gap-4">
                  <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                    <span class="material-symbols-rounded icon-outline fs-5">favorite</span>
                    <span>Like</span>
                  </button>
                  <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                    <span class="material-symbols-rounded icon-outline fs-5">reply</span>
                    <span>Reply</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="comment">
            <div class="mb-8">
              <div class="d-flex align-items-center gap-4">
                <a href="#">
                  <img src="@img/avatar/avatar-female-2.webp" alt="Kristin Watson" height="36" width="36" class="rounded-circle" />
                </a>
                <div>
                  <div class="h6 mb-0">Kristin Watson</div>
                  <div class="text-body-tertiary">6 days ago</div>
                </div>
                <div class="dropdown ms-auto mb-auto">
                  <button type="button" data-bs-toggle="dropdown" class="btn btn-link btn-sm text-body-secondary text-decoration-none d-flex p-0">
                    <span class="material-symbols-rounded fs-5">more_horiz</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Menu item 1</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 2</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#">Menu item 3</a></li>
                  </ul>
                </div>
              </div>
              <div class="comment-body">
                <div class="text-body-secondary mt-2 mb-4">
                  Amet non consequat euismod eget quam cursus facilisis. Lectus cursus ac ullamcorper amet sagittis sit tempus scelerisque. Neque tellus id tempus aliquet lacus convallis amet.
                </div>
                <div class="d-flex gap-4">
                  <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                    <span class="material-symbols-rounded icon-outline fs-5">favorite</span>
                    <span>Like</span>
                  </button>
                  <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                    <span class="material-symbols-rounded icon-outline fs-5">reply</span>
                    <span>Reply</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="comment">
              <div class="mb-8">
                <div class="d-flex align-items-center gap-4">
                  <a href="#">
                    <img src="@img/avatar/avatar-female-3.webp" alt="Brooklyn Simmons" height="36" width="36" class="rounded-circle" />
                  </a>
                  <div>
                    <div class="h6 mb-0">Brooklyn Simmons</div>
                    <div class="text-body-tertiary">6 days ago</div>
                  </div>
                  <div class="dropdown ms-auto mb-auto">
                    <button type="button" data-bs-toggle="dropdown" class="btn btn-link btn-sm text-body-secondary text-decoration-none d-flex p-0">
                      <span class="material-symbols-rounded fs-5">more_horiz</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#">Menu item 1</a></li>
                      <li><a class="dropdown-item" href="#">Menu item 2</a></li>
                      <li><hr class="dropdown-divider" /></li>
                      <li><a class="dropdown-item" href="#">Menu item 3</a></li>
                    </ul>
                  </div>
                </div>
                <div class="comment-body">
                  <div class="text-body-secondary mt-2 mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla.
                  </div>
                  <div class="d-flex gap-4">
                    <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                      <span class="material-symbols-rounded icon-outline fs-5">favorite</span>
                      <span>Like</span>
                    </button>
                    <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                      <span class="material-symbols-rounded icon-outline fs-5">reply</span>
                      <span>Reply</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="mb-8">
            <div class="d-flex align-items-center gap-4">
              <a href="#">
                <img src="@img/avatar/avatar-female-1.webp" alt="Jane Cooper" height="36" width="36" class="rounded-circle" />
              </a>
              <div>
                <div class="h6 mb-0">Jane Cooper</div>
                <div class="text-body-tertiary">6 days ago</div>
              </div>
              <div class="dropdown ms-auto mb-auto">
                <button type="button" data-bs-toggle="dropdown" class="btn btn-link btn-sm text-body-secondary text-decoration-none d-flex p-0">
                  <span class="material-symbols-rounded fs-5">more_horiz</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Menu item 1</a></li>
                  <li><a class="dropdown-item" href="#">Menu item 2</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Menu item 3</a></li>
                </ul>
              </div>
            </div>
            <div class="comment-body">
              <div class="text-body-secondary mt-2 mb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla.
              </div>
              <div class="d-flex gap-4">
                <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                  <span class="material-symbols-rounded icon-outline fs-5">favorite</span>
                  <span>Like</span>
                </button>
                <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                  <span class="material-symbols-rounded icon-outline fs-5">reply</span>
                  <span>Reply</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="comment">
          <div class="mb-8">
            <div class="d-flex align-items-center gap-4">
              <a href="#">
                <img src="@img/avatar/avatar-female-2.webp" alt="Kristin Watson" height="36" width="36" class="rounded-circle" />
              </a>
              <div>
                <div class="h6 mb-0">Kristin Watson</div>
                <div class="text-body-tertiary">6 days ago</div>
              </div>
              <div class="dropdown ms-auto mb-auto">
                <button type="button" data-bs-toggle="dropdown" class="btn btn-link btn-sm text-body-secondary text-decoration-none d-flex p-0">
                  <span class="material-symbols-rounded fs-5">more_horiz</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Menu item 1</a></li>
                  <li><a class="dropdown-item" href="#">Menu item 2</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Menu item 3</a></li>
                </ul>
              </div>
            </div>
            <div class="comment-body">
              <div class="text-body-secondary mt-2 mb-4">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat.</div>
              <div class="d-flex gap-4">
                <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                  <span class="material-symbols-rounded icon-outline fs-5">favorite</span>
                  <span>Like</span>
                </button>
                <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                  <span class="material-symbols-rounded icon-outline fs-5">reply</span>
                  <span>Reply</span>
                </button>
              </div>
            </div>
          </div>
          <div class="comment">
            <div class="mb-8">
              <div class="d-flex align-items-center gap-4">
                <a href="#">
                  <img src="@img/avatar/avatar-male-2.webp" alt="Wade Warren" height="36" width="36" class="rounded-circle" />
                </a>
                <div>
                  <div class="h6 mb-0">Wade Warren</div>
                  <div class="text-body-tertiary">6 days ago</div>
                </div>
                <div class="dropdown ms-auto mb-auto">
                  <button type="button" data-bs-toggle="dropdown" class="btn btn-link btn-sm text-body-secondary text-decoration-none d-flex p-0">
                    <span class="material-symbols-rounded fs-5">more_horiz</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Menu item 1</a></li>
                    <li><a class="dropdown-item" href="#">Menu item 2</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#">Menu item 3</a></li>
                  </ul>
                </div>
              </div>
              <div class="comment-body">
                <div class="text-body-secondary mt-2 mb-4">
                  consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue.
                </div>
                <div class="d-flex gap-4">
                  <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                    <span class="material-symbols-rounded icon-outline fs-5">favorite</span>
                    <span>Like</span>
                  </button>
                  <button class="btn btn-link btn-sm text-body-secondary text-decoration-none fw-bold d-flex align-items-center gap-2 p-0">
                    <span class="material-symbols-rounded icon-outline fs-5">reply</span>
                    <span>Reply</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
