{% extends "layouts/main.html" %}

<!-- prettier-ignore -->
{% block content %}
<main class="pt-10 pb-16 pt-md-16 pb-md-24">
  <div class="container">
    <h1 class="display-5 mb-6">Blog</h1>
    <p class="text-body-secondary fs-5 mb-12 mb-md-16">Our latest web design tips, tricks, insights, and resources, hot off the presses.</p>
  </div>
  <div class="container px-0 px-md-8">
    <div class="row mx-0 -mx-md-4">
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="blog-post.html" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-1.webp" class="card-img-top object-fit-cover rounded-top-md" alt="10 Secret Tips for Managing a Remote Team" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="blog-post.html" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">10 Secret Tips for Managing a Remote Team</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-male-1.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Albert Flores</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="#" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-2.webp" class="card-img-top object-fit-cover rounded-top-md" alt="Why Everything Looks the Same" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="#" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">Why Everything Looks the Same</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-male-2.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Wade Warren</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="#" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-3.webp" class="card-img-top object-fit-cover rounded-top-md" alt="ChatGPT Is Constantly Tricked by People, but Who’s Fooling Who?" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="#" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">ChatGPT Is Constantly Tricked by People, but Who’s Fooling Who?</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-male-3.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Ralph Edwards</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="#" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-4.webp" class="card-img-top object-fit-cover rounded-top-md" alt="Best books on UX Writing, Strategic Writing & Content Strategy" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="#" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">Best books on UX Writing, Strategic Writing & Content Strategy</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-female-1.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Jane Cooper</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="#" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-5.webp" class="card-img-top object-fit-cover rounded-top-md" alt="A Designer’s take on AI" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="#" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">A Designer’s take on AI</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-female-2.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Kristin Watson</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="#" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-6.webp" class="card-img-top object-fit-cover rounded-top-md" alt="5 cognitive biases to avoid in user research" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="#" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">5 cognitive biases to avoid in user research</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-female-3.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Brooklyn Simmons</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="#" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-7.webp" class="card-img-top object-fit-cover rounded-top-md" alt="How to use huge type on the web" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="#" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">How to use huge type on the web</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-male-1.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Ralph Edwards</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="#" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-8.webp" class="card-img-top object-fit-cover rounded-top-md" alt="Legibility in User Interfaces" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="#" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">Legibility in User Interfaces</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-male-2.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Darrell Steward</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="#" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-9.webp" class="card-img-top object-fit-cover rounded-top-md" alt="AI tools to assist your design and development workflow" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="#" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">AI tools to assist your design and development workflow</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-male-3.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Jerome Bell</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="#" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-10.webp" class="card-img-top object-fit-cover rounded-top-md" alt="Accessibility: The Biggest Scam in UX" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="#" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">Accessibility: The Biggest Scam in UX</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-female-1.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Annette Black</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="#" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-11.webp" class="card-img-top object-fit-cover rounded-top-md" alt="The Future Of Design Is Open Source" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="#" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">The Future Of Design Is Open Source</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-female-2.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Bessie Cooper</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 px-0 px-md-4">
        <div class="card rounded-0 rounded-md border-top border-bottom border-top-md-0 border-bottom-md-0 shadow-md-3 h-md-31rem h-lg-32rem mb-2 mb-md-12">
          <a href="#" class="ratio ratio-16x9 rounded-top-md">
            <img src="@img/thumbnail/post-12.webp" class="card-img-top object-fit-cover rounded-top-md" alt="I spent $15 in DALL·E 2 credits creating this AI image, and here’s what I learned" />
          </a>
          <div class="card-body pb-6">
            <small class="text-body-tertiary fw-bold">12 January 2023</small>
            <a href="#" class="card-title h4 text-decoration-none line-clamp-2 mt-1 mb-4">I spent $15 in DALL·E 2 credits creating this AI image, and here’s what I learned</a>
            <p class="card-text text-body-secondary line-clamp-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat beatae voluptate laborum nostrum odit veniam. Ducimus vitae illum sequi tempore, saepe nesciunt unde esse odio
              consectetur fugiat maxime ipsa.
            </p>
          </div>
          <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
            <a href="#">
              <img src="@img/avatar/avatar-female-3.webp" alt="Avatar" height="36" width="36" />
            </a>
            <a href="#" class="h5 text-truncate text-decoration-none mb-0">Dianne Russell</a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center justify-content-md-end mt-10 mt-md-0 gap-4">
      <button type="button" class="swiper-prev btn btn-white text-teal d-flex p-2" disabled>
        <span class="material-symbols-rounded fs-3">chevron_left</span>
      </button>
      <button type="button" class="swiper-next btn btn-white text-teal d-flex p-2">
        <span class="material-symbols-rounded fs-3">chevron_right</span>
      </button>
    </div>
  </div>
</main>
{% endblock %}
