<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ global.appName }} - {{ title }}</title>
    <link rel="shortcut icon" href="@img/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" />
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,700,0..1,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="@style/main.scss" />
    <link rel="stylesheet" href="@style/custom.scss" />
    <script defer src="@script/main.js"></script>
    <link rel="stylesheet" href="@style/index.scss" />
    <script defer src="@script/index.js"></script>
  </head>
  <body class="bg-light">
    <div class="overflow-x-hidden">
      <header class="main-banner d-flex flex-column">
        {% include "partials/topnav.html" %}

        <div class="container position-relative mt-auto mb-md-auto pb-24">
          <div class="row">
            <div class="col">
              <div class="text-white text-center text-md-start">
                <h1 class="display-4 mb-6">
                  Instant Collaboration <br />
                  for remote teams
                </h1>
                <p class="fs-5 mb-16">
                  <span class="d-md-block">All-in-one place for your remote team to chat, </span>
                  <span>collaborate and track project progress.</span>
                </p>
              </div>
              <form class="row g-4">
                <div class="col-12 col-md-4 col-lg-3">
                  <label class="visually-hidden">Email</label>
                  <input type="email" placeholder="Email" class="form-control" />
                </div>
                <div class="col-12 col-md-auto d-grid">
                  <button type="submit" class="btn btn-teal">Get Early Access</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>

      <main class="pt-16 pb-24 pt-md-24 pb-md-32">
        <!-- Section 1 -->
        <div class="container position-relative h-md-32rem h-lg-38rem mb-24">
          <div class="w-30rem w-md-52rem w-lg-60rem position-md-absolute top-md-50 translate-middle-md-y -end-md-70 -end-lg-40 -end-xxl-30 mb-12 mb-md-0">
            <img src="@img/app-mockup.webp" alt="App Mockup" class="img-fluid" />
          </div>
          <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 col-lg-5">
              <h2 class="display-4 mb-6">
                Your hub for <br />
                teamwork
              </h2>
              <p class="text-body-secondary mb-14">
                Project discussions, important documents, free food announcements; they all live tidily together in Team. With your team and information in one easily searchable place, collaborating
                online is as easy as collaborating in person.
              </p>
              <a class="icon-link icon-link-hover text-decoration-none text-teal fw-bold" href="#">
                Learn More
                <span class="material-symbols-rounded bi">chevron_right</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Section 2 -->
        <div class="container mb-24">
          <div class="row align-items-md-center justify-content-lg-between mb-24">
            <div class="col-12 col-md-6 mb-14 mb-md-0">
              <img src="@img/task-management.webp" alt="Task Management" class="img-fluid rounded" />
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <h2 class="display-4 mb-6">
                Simple task <br />
                management
              </h2>
              <p class="text-body-secondary mb-14">
                Task management with Team is as simple as it gets. No complicated layout and need for user training. Your team members will intuitively know how to navigate the platform. <br />
                It’s so simple, a baby could do it!
              </p>
              <a class="icon-link icon-link-hover text-decoration-none text-teal fw-bold" href="#">
                Learn More
                <span class="material-symbols-rounded bi">chevron_right</span>
              </a>
            </div>
          </div>
          <div class="row align-items-md-center justify-content-lg-between flex-md-row-reverse">
            <div class="col-12 col-md-6 mb-14 mb-md-0">
              <img src="@img/scheduling.webp" alt="Scheduling" class="img-fluid rounded" />
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <h2 class="display-4 mb-6">
                Scheduling that <br />
                actually works
              </h2>
              <p class="text-body-secondary">Integrate a Team calendar with your favourite calendar app, be it Google Calendar or iCal.</p>
              <p class="text-body-secondary mb-14">Each team member works with their favourite calendar, while all the data is synced with the master calendar.</p>
              <a class="icon-link icon-link-hover text-decoration-none text-teal fw-bold" href="#">
                Learn More
                <span class="material-symbols-rounded bi">chevron_right</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Section 3 -->
        <div class="container">
          <h2 class="display-4 mb-14 mb-md-16 mb-lg-24 text-center">What people say about team</h2>
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card shadow-3 h-24rem">
                  <div class="card-body">
                    <div class="d-flex text-yellow gap-1 mb-6">
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                    </div>
                    <p class="card-text text-body-secondary line-clamp-8">
                      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                  </div>
                  <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
                    <img src="@img/avatar/avatar-female-1.webp" alt="Avatar" height="48" width="48" />
                    <div class="w-75">
                      <h5 class="text-truncate mb-1">Esther Howard</h5>
                      <div class="text-body-tertiary text-truncate fw-bold">HR Business Partner at GitHub</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card shadow-3 h-24rem">
                  <div class="card-body">
                    <div class="d-flex text-yellow gap-1 mb-6">
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                    </div>
                    <p class="card-text text-body-secondary line-clamp-8">
                      Facilisis mauris sit amet massa vitae tortor condimentum. Pulvinar etiam non quam lacus suspendisse. Amet minim mollit non deserunt.
                    </p>
                  </div>
                  <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
                    <img src="@img/avatar/avatar-female-2.webp" alt="Avatar" height="48" width="48" />
                    <div class="w-75">
                      <h5 class="text-truncate mb-1">Leslie Alexander</h5>
                      <div class="text-body-tertiary text-truncate fw-bold">Project Manager at Netflix</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card shadow-3 h-24rem">
                  <div class="card-body">
                    <div class="d-flex text-yellow gap-1 mb-6">
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                    </div>
                    <p class="card-text text-body-secondary line-clamp-8">
                      consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue.
                    </p>
                  </div>
                  <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
                    <img src="@img/avatar/avatar-male-1.webp" alt="Avatar" height="48" width="48" />
                    <div class="w-75">
                      <h5 class="text-truncate mb-1">Marvin McKinney</h5>
                      <div class="text-body-tertiary text-truncate fw-bold">Product Designer at Getarounds</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card shadow-3 h-24rem">
                  <div class="card-body">
                    <div class="d-flex text-yellow gap-1 mb-6">
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                    </div>
                    <p class="card-text text-body-secondary line-clamp-8">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </p>
                  </div>
                  <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
                    <img src="@img/avatar/avatar-male-2.webp" alt="Avatar" height="48" width="48" />
                    <div class="w-75">
                      <h5 class="text-truncate mb-1">Ralph Edwards</h5>
                      <div class="text-body-tertiary text-truncate fw-bold">Marketing Manager at Square, Inc.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card shadow-3 h-24rem">
                  <div class="card-body">
                    <div class="d-flex text-yellow gap-1 mb-6">
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                    </div>
                    <p class="card-text text-body-secondary line-clamp-8">
                      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                  </div>
                  <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
                    <img src="@img/avatar/avatar-female-3.webp" alt="Avatar" height="48" width="48" />
                    <div class="w-75">
                      <h5 class="text-truncate mb-1">Jane Cooper</h5>
                      <div class="text-body-tertiary text-truncate fw-bold">Marketing Manager at Apple</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card shadow-3 h-24rem">
                  <div class="card-body">
                    <div class="d-flex text-yellow gap-1 mb-6">
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                      <span class="material-symbols-rounded fs-5">star</span>
                    </div>
                    <p class="card-text text-body-secondary line-clamp-8">
                      In porta placerat faucibus urna sit. Nulla et lobortis diam scelerisque consectetur massa dui. Hac est eget purus augue tellus a amet porttitor proin.
                    </p>
                  </div>
                  <div class="card-footer bg-transparent d-flex align-items-center gap-4 pt-0">
                    <img src="@img/avatar/avatar-male-3.webp" alt="Avatar" height="48" width="48" />
                    <div class="w-75">
                      <h5 class="text-truncate mb-1">Robert Fox</h5>
                      <div class="text-body-tertiary text-truncate fw-bold">Project Manager at Facebook</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center justify-content-md-end gap-4 mt-12">
              <button type="button" class="swiper-prev btn btn-white text-teal d-flex p-2">
                <span class="material-symbols-rounded fs-3">chevron_left</span>
              </button>
              <button type="button" class="swiper-next btn btn-white text-teal d-flex p-2">
                <span class="material-symbols-rounded fs-3">chevron_right</span>
              </button>
            </div>
          </div>
        </div>
      </main>

      {% include "partials/footer.html" %}
    </div>
  </body>
</html>
