<footer class="bg-dark text-white text-opacity-75 py-16 py-md-24">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3 mb-12 mb-md-16">
        <a href="#">
          <img src="@img/logo-team-light.svg" alt="Team." height="28" width="86" />
        </a>
        <p class="mt-6 mb-0">
          Collaboration platform <br />
          for modern teams.
        </p>
      </div>
      <div class="col-12 col-md-8 col-lg-3 mb-12 mb-md-16 order-lg-last">
        <h5 class="text-light fw-normal mt-1 mb-4">Stay up to Date</h5>
        <div class="pt-2 pb-3">Subscribe to our newsletter</div>
        <form class="row pt-2">
          <div class="col-12 col-md-10 col-lg-12">
            <div class="position-relative">
              <label class="visually-hidden">Email</label>
              <input type="email" placeholder="Email" class="form-control form-tint-white" />
              <button type="button" class="btn btn-tint-teal bg-transparent d-flex position-absolute end-0 top-50 translate-middle-y px-4">
                <span class="material-symbols-rounded">send</span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-md-4 col-lg-2 mb-12 mb-md-0">
        <h5 class="text-light fw-normal mt-1 mb-4">Company</h5>
        <ul class="list-unstyled mb-0">
          <li class="pt-2 pb-3">
            <a href="#" class="link-white link-opacity-75 link-opacity-100-hover text-decoration-none">Product</a>
          </li>
          <li class="pt-2 pb-3">
            <a href="#" class="link-white link-opacity-75 link-opacity-100-hover text-decoration-none">Blog</a>
          </li>
          <li class="pt-2 pb-3">
            <a href="#" class="link-white link-opacity-75 link-opacity-100-hover text-decoration-none">Support</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-lg-2 mb-12 mb-md-0">
        <h5 class="text-light fw-normal mt-1 mb-4">Features</h5>
        <ul class="list-unstyled mb-0">
          <li class="pt-2 pb-3">
            <a href="#" class="link-white link-opacity-75 link-opacity-100-hover text-decoration-none">Screen Sharing</a>
          </li>
          <li class="pt-2 pb-3">
            <a href="#" class="link-white link-opacity-75 link-opacity-100-hover text-decoration-none">iOS & Android apps</a>
          </li>
          <li class="pt-2 pb-3">
            <a href="#" class="link-white link-opacity-75 link-opacity-100-hover text-decoration-none">File Sharing</a>
          </li>
          <li class="pt-2 pb-3">
            <a href="#" class="link-white link-opacity-75 link-opacity-100-hover text-decoration-none">User Management</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4 col-lg-2">
        <h5 class="text-light fw-normal mt-1 mb-4">Contact us</h5>
        <ul class="list-unstyled mb-0">
          <li class="pt-2 pb-3">
            <span>info@teamapp.com</span>
          </li>
          <li class="pt-2 pb-3">
            <span>(406) 555-0120</span>
          </li>
          <li class="pt-2 pb-3">
            <span>
              6391 Elgin St. Celina, <br />
              Delaware 10299
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="small mt-12 mt-md-16 mt-lg-32">© Copyright ChatApp inc.</div>
  </div>
</footer>
